<%= form_with(model: lap) do |form| %>
  <% if lap.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lap.errors.count, "error") %> prohibited this lap from being saved:</h2>

      <ul>
        <% lap.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :lap_number %>
    <%= form.number_field :lap_number %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.number_field :position %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.time_select :time %>
  </div>

  <div class="field">
    <%= form.label :race_id %>
    <%= collection_select(:lap, :race_id, Race.all, :id, :name )  %>
  </div>

  <div class="field">
    <%= form.label :pilot_id %>
    <%= collection_select(:lap, :pilot_id, Pilot.all, :id, :full_name )  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
